.root {
  li {
    display: inline-block;

    a {
      font-size: 12px;
      display: inline-block;
      color: #404B52;
      text-align: center;
      width: 26px;
      height: 24px;
      line-height: 23px;
      background-color: #EEEEEE;
      border: 1px solid #F5F5F5;
      border-radius: 4px;
      margin-right: 12px;
      cursor: pointer;

      &:hover {
        background-color: #5932EA;
        color: white;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #5932EA;
        color: white;
      }
    }
  }
}
